@import "header";
@import "main";

@cartWidth: 350px;
@cartBackground: #f5f5f5;
@cartBackground2: white;
@cartFontSize: 20px;
@cartClearFontSize: @cartFontSize*0.6;
@cartOrderFontSize: 23px;
@cartOrderButtonSize: 25px;
@cartShadowColor: #bebebe;


@cartEditTextColor: black;
//used for gradient in edit button
@cartEditColor1: @cartBackground2;
@cartEditColor2: @cartShadowColor;

.cart {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  width: @cartWidth;
  background-color: @cartBackground;
  box-shadow: -@cartWidth*0.01 @headerHeight 20px @cartShadowColor;
  z-index: 6; //on top of the header

  .order-state {
    height: @headerHeight;
    background-color: @cartBackground2;
    .content {
      display: inline-block;
      height: 100%;
      width: 100%;
      font-size: @cartFontSize;
      padding: (@headerHeight - @cartFontSize)/2 15px;
    }
    .order-cnt-wrap {
      display: inline-block;
      margin-right: 0;
      padding-right: 0;
      .order-cnt {
        .circular(@cartFontSize, @cartBackground2, @primaryColor);
      }
    }
    .order-clear-wrap {
      display: inline-block;
      margin-left: 0;
      padding-left: 0;
      float: right;
      .order-clear {
        font-size: @cartClearFontSize;
      }
    }
  }


  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;

  height: 100%;

  .cart-list-holder {
    font-size: @cartOrderFontSize;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .order-btn-holder {
    text-align: center;

    padding: @cartOrderButtonSize;
    width: 100%;
    background-color: @cartBackground2;

    button {
      border: none;
      width: 100%;
      background-color: @primaryColor;
      font-size: @cartOrderButtonSize;
      border-radius: @cartOrderButtonSize*0.25;
      &:hover, &:focus {
        outline: none;
        background-color: @primaryColor;
      }
    }

    .edit {
      color: @cartEditTextColor;
      background: linear-gradient(@cartEditColor1, @cartEditColor2);
    }

  }

  .emptyPhr {
    padding: 60px 0;
    display: none;
  }

  .order-price {
    background-color: @cartBackground2;
    font-size: 1.4*@cartButtonsTextSize;
    width: 100%;
    padding: 0 0 30px;
    float: left;
    text-align: left;
    display: none;
  }

}