@primaryColor: #f0a53c;
@nameColor: #EB6600;

@badgeTextSize: 65px;
@allPizzasTextSize: @badgeTextSize * 0.6;
@cntColor: white;

@badgeSize: 100px;
@badgeLeftMargin: 10px;

body {
  background-color: #FFFFF5;
}

* {
  font-family: primaryFont, Serif;
}

.all-pizzas-text {
  padding-top: @headerHeight;
  text-align: center;
  font-size: @allPizzasTextSize;
  .cnt {
    .circular(@allPizzasTextSize*0.65, @cntColor, @nameColor);
  }
}

.circular(@radius, @textColor, @backgroundColor) {
  color: @textColor;
  background-color: @backgroundColor;
  text-align: center;
  display: inline-block;
  width: @radius;
  height: @radius;
  border-radius: 50%;
  font-size: @radius*0.5/0.65;
}

.container {
  padding: 0;
}

.left-panel {
  padding-top: @badgeMargin;
  padding-right: @cartWidth+@badgeMargin;
  padding-left: @badgeWidth+@badgeMargin;
}

.pizza-container {
  padding-top: @badgeMargin;
}


@font-face {
  font-family: primaryFont;
  src: url("../fonts/AvenirNextLTPro-Regular.otf");
}

@import "pizza/pizza-card";
@import "badge";
@import "header";
@import "pizzas-navbar";
@import "cart";
