@primaryColor: #f0a53c;
@nameColor: #EB6600;
@badgeBackground: #de812a;

@badgeTextSize: 1.8em;
@AllPizzasTextSize: @badgeTextSize * 0.6;

@badgeSize: 100px;
@badgeLeftMargin: 10px;

body {
  background-color: #fff8cf;
}

@font-face {
  font-family: primaryFont;
  src: url("../fonts/AvenirNextLTPro-Regular.otf");
}

* {
  font-family: primaryFont, Serif;
}

.container {
  padding: 20px;
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;

  .first-row {
    opacity: 0.4;
  }

  hr {
    margin: 9px 3px;
  }

  .main-row {
    margin-left: @badgeSize+@badgeLeftMargin;
  }
}

.all-pizzas {
  font-size: @AllPizzasTextSize;
}

.info-badge {
  position:absolute;

  background-color: @badgeBackground;
  color: white;
  font-weight: bold;
  padding: 10px;

  width: @badgeSize;
  left: @badgeLeftMargin;

  hr {
    margin: 2px 3px 10px;
    border-color: rgba(0, 0, 0, 0.3);
  }
}

.main-badge {
  font-size: @badgeTextSize;
}

.sale-badge {
  bottom: 0;
}

@import "pizza/pizza-card";