@import "../header";
@import "cart";

@orderInputLabelWidth: 85px;
@orderTextColor: black;
@orderTextSize: 20px;
@orderInfoBackColor: white;
@orderInfoHeight: 145px;
@orderWarnColor: red;
@orderMapHeight: 250px;

.personal-data-container {
  padding: @headerHeight+50px 0 0;

  .personal-data-label {
    font-size: @orderTextSize*1.2;
    padding: 10px;
  }

  .personal-data-holder {
    margin: 0 @cartWidth+100px 0 100px;
    color: @orderTextColor;
    font-size: @orderTextSize;

    .personal-data-left, .personal-data-right {
      display: inline-block;
      margin: 0;
      padding: 0;

      @media screen {
        @media (max-width: 1240px) {
          width: 100%;
          display: block;
          //input {
          //
          //  float: right;
          //}
        }
      }
    }

    .personal-data-left {
      display: inline-block;

      .form-group {
        margin: 0 0 15px;
        padding: 0;
        vertical-align: middle;

        text-align: right;
        @media screen {
          @media (max-width: 1000px) {
            text-align: left;
          }
        }

        label {
          width: @orderInputLabelWidth;
          padding: 0;
        }

        div {
          padding-right: 0;
        }

        .warning {
          color: @orderWarnColor;
          padding: 0 10px;
          text-align: left;
          font-size: @orderTextSize*0.6;
        }

      }
    }

    .personal-data-right {
      padding-left: 30px;
      border: solid rgba(0, 0, 0, 0.1) 1px;
      border-left: solid @primaryColor 6px;
      background: @orderInfoBackColor;

      div {
        min-height: @orderInfoHeight;
        span {
          display: inline-block;
          margin: (@orderInfoHeight - 3*@orderTextSize)/8-1px;
          padding: 0;
        }
      }
    }

    .proceed-btn {
      float: right;
      margin: 10px;
      font-size: @orderTextSize;
      background-color: @primaryColor;
      color: @orderInfoBackColor;
      border-radius: 5px;
      outline: none;
    }

    .map-holder {
      background: green;
      height: @orderMapHeight;
    }

  }
}
