<% include common/header.ejs %>

<div class="container-fluid personal-data-holder">
    <div>
        1. Контактні дані
    </div>
    <span class="personal-data col-lg-6">
        <div class="name">
            <label>
                Ім'я
            </label>
            <div>
                <input placeholder="Ім'я"/>
            </div>
        </div>
    </span>
    <span class="col-lg-6">
        S
    </span>
</div>

<% include common/cart.ejs %>
<% include common/footer.ejs %>