<div class="footer">
    Pizza - практичний проект в межах курсу JavaScript у Києво-Могилянській Академії
    <br>
    Доставка піци не здійснюється (проте можна заплатити!)
    <br>
    Created by Leskiv Oleksandr
</div>

<div class="discount-badge bottom-badge">
    <div class="content">
        <div class="border"></div>
        <div class="text">
            <b>ЦЬОГО<br>
                ТИЖНЯ<br>
                НА ВСЕ<br>
                <hr>
                -20%</b>
        </div>
    </div>
</div>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>